@model OrderManagement.Model.Item

<h2>상품등록</h2>

<form class="form-horizontal" method="post" asp-controller="Item" asp-action="Add">
    <div class="row">
        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <label asp-for="Cate" class="control-label">카테고리</label>
            <select asp-for="Cate"
                    class="form-control"
                    asp-items="@(new SelectList(@ViewBag.cateList, "CateName", "CateName"))">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>상품코드</label>
        <input type="text" class="form-control" asp-for="ItemID" placeholder="상품 등록번호를 입력하시오" />
        <span class="text-danger" asp-validation-for="ItemID"></span>
    </div>

    <div class="form-group">
        <label>상품명</label>
        <input type="text" class="form-control" asp-for="ItemName" placeholder="상품명을 입력하시오" />
        <span class="text-danger" asp-validation-for="ItemName"></span>
    </div>

    <div class="form-group">
        <label>판매가</label>
        <input type="text" class="form-control" asp-for="Price" placeholder="가격을 입력하시오" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <label>수량</label>
        <input type="text" class="form-control" asp-for="Quantity" placeholder="수량을 입력하시오" />
        <span class="text-danger" asp-validation-for="Quantity"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">상품등록</button>
        <a class="btn btn-default" asp-controller="Item" asp-action="Index">취소</a>
    </div>
</form>