<div class="text-center">
    <h1 class="display-4">Notice</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notice in Model)
        {
            <tr>
                <td>@notice.NoticeNo</td>
                <td>
                    <a asp-controller="Home" asp-action="Detail" asp-route-noticeNo="@notice.NoticeNo">@notice.NoticeTitle</a>
                </td>
                <td>@notice.UserID</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-warning" asp-controller="Home" asp-action="Add">Add</a>