<div class="text-center">
    <h1 class="display-4">Category</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CateNo</td>
                <td>@category.CateName</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-warning" asp-controller="Category" asp-action="Add">Add</a>