<table class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var board in Model)
        {
            <tr>
                <td>@board.BoardNo</td>
                <td>
                    <a asp-controller="Board" asp-action="Detail" asp-route-boardNo="@board.BoardNo">@board.BoardTitle</a>
                </td>
                <td>@board.UserNo</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-warning" asp-controller="Board" asp-action="Add">게시물 작성</a>